html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* DECLARATIONS
---------------- */
/* MIXINS
---------- */
/* GLOBAL STYLES
---------------- */
* {
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: "Questrial", sans-serif;
  color: #1a323e;
  font-family: "Bangers", cursive;
  background-color: #FAFAFA; }

input, button {
  border: none;
  border-radius: 2px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }
  input:focus, button:focus {
    outline: none; }

.container {
  width: 100%;
  margin: auto;
  margin-top: 43px; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

button {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  background-color: #1a323e;
  color: white;
  border: 1px solid #1a323e;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  border-radius: 4px; }
  button:hover {
    background-color: #1b729f;
    border: 1px solid #1b729f; }

/* HEADER
---------- */
header {
  background-color: #1a323e;
  width: 100%;
  height: 90px; }
  header nav {
    display: inline-block;
    float: right;
    color: white;
    margin-top: 1em; }
    header nav p {
      margin-top: 1em;
      cursor: pointer;
      display: inline-block;
      margin-left: 1em; }
  header .innerheader {
    width: 80%;
    margin: auto; }
    header .innerheader p {
      text-shadow: 0.5px 0.4px 0px white; }
    header .innerheader a {
      text-shadow: 0.5px 0.4px 0px white; }
    header .innerheader .logo {
      overflow: hidden;
      display: inline-block;
      font-size: 6em;
      font-family: "Bangers", cursive;
      width: 5em;
      cursor: pointer; }
      header .innerheader .logo p {
        color: #f23c27;
        font-size: 1em;
        text-shadow: 3px 1px 0px white;
        margin: 0; }

.instructions {
  margin-top: 25px; }

.instructions h5 {
  color: black;
  font-family: inherit;
  font-size: 1.6rem;
  padding-left: 137px; }

/* MAIN PAGE
----------- */
.home {
  margin-top: 2em;
  width: 100%;
  overflow: hidden; }

.singlepix {
  height: 800px;
  display: none; }

/* CREATE PAGE
-------------- */
.create {
  margin-top: 2em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .create::after {
    clear: both;
    content: "";
    display: table; }
  .create aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: 100vh;
    border: 1px solid #EDEEEE;
    background-color: white;
    overflow: scroll; }
    .create aside:last-child {
      margin-right: 0; }
    .create aside .accessory-img {
      width: 75px;
      height: 75px;
      display: inline-block; }
      .create aside .accessory-img img {
        height: 75px;
        display: inline-block; }
    .create aside .accessory-ul {
      overflow: hidden;
      padding: 0 2em 2em 2em;
      font-family: "Questrial", sans-serif; }
      .create aside .accessory-ul li {
        overflow: hidden; }
      .create aside .accessory-ul .flip-img {
        text-align: center; }
      .create aside .accessory-ul .row {
        border-bottom: 1px solid #EDEEEE;
        padding-bottom: 1em; }
    .create aside .size {
      color: #1a323e;
      font-size: 0.75em;
      text-align: center;
      display: inline-block;
      margin-right: 3em; }
    .create aside .sizeL {
      margin-right: 0; }
    .create aside .flip {
      color: #1A323D;
      font-size: 0.75em;
      cursor: pointer;
      margin-bottom: 0;
      text-align: center; }
    .create aside h4 {
      color: #1b729f;
      padding: 1em;
      font-size: 2em;
      padding: .5em;
      text-align: center;
      font-family: "Bangers", cursive;
      margin-bottom: 0;
      padding-bottom: 0;
      font-size: 3em; }
  .create .audiooptions {
    overflow: hidden;
    font-size: .7em;
    text-align: center;
    margin-bottom: 1em; }
    .create .audiooptions p {
      text-align: center;
      color: #1b729f; }

/* ADD IMAGE TPL
---------- */
.rightside {
  overflow: hidden;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .rightside:last-child {
    margin-right: 0; }
  .rightside p {
    font-size: 2.5em;
    margin-bottom: 0;
    color: #f23c27;
    display: inline-block;
    float: left;
    margin-right: 1em; }
  .rightside .text-form {
    overflow: hidden;
    clear: both; }
  .rightside .toon-buttons {
    margin-right: 1em;
    width: 38%;
    margin: auto; }
    .rightside .toon-buttons .reset-btn {
      background-color: #f23c27;
      border: 1px solid #f23c27; }
      .rightside .toon-buttons .reset-btn:hover {
        background-color: #902724;
        border: 1px solid #902724; }
  .rightside form {
    display: inline-block;
    width: 70%;
    float: left; }
    .rightside form input {
      display: inline-block;
      width: 75%;
      font-family: "Questrial", sans-serif; }
    .rightside form button {
      display: inline-block;
      margin-left: 1em; }
  .rightside .canvas {
    overflow: hidden;
    width: 60%;
    margin: auto; }

/* ADD IMAGE PAGE
----------------- */
.addimage-page {
  background-color: #1a323e;
  height: 100vh; }
  .addimage-page form {
    width: 60%;
    margin: auto;
    border: 1px solid #f7d281;
    padding: 2em;
    border-radius: 4px; }
    .addimage-page form h2 {
      color: #f7d281;
      font-family: "Bangers", cursive; }
    .addimage-page form button {
      background-color: #1b729f;
      margin: auto; }

/* INSTRUCTIONS TPL
---------- */
.I-page {
  margin-top: 30px;
  margin-left: 131px; }
  .I-page ol {
    margin-left: 1.4rem;
    font-size: 1.2rem; }

.form-wrapper {
  overflow: hidden;
  padding-top: 10em; }
