html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* DECLARATIONS
---------------- */
/* MIXINS
---------- */
/* GLOBAL STYLES
---------------- */
* {
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: "Questrial", sans-serif;
  color: #1a323e;
  font-family: "Questrial", sans-serif;
  background-color: #FAFAFA; }

input, button {
  border: none;
  border-radius: 2px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }
  input:focus, button:focus {
    outline: none; }

.container {
  width: 100%;
  margin: auto;
  margin-top: 43px; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

/* HEADER
---------- */
header {
  background-color: #1a323e;
  width: 100%;
  height: 80px; }
  header a {
    color: #f23c27;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; }
  header .innerheader {
    width: 80%;
    margin: auto; }
    header .innerheader .logo {
      overflow: hidden;
      display: inline-block;
      font-size: 6em;
      font-family: "Bangers", cursive; }

.instructions {
  display: inline-block;
  float: right;
  margin-top: 25px; }

/* MAIN PAGE
----------- */
.singlepix {
  height: 800px;
  display: none; }

/* CREATE PAGE
-------------- */
.create {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .create::after {
    clear: both;
    content: "";
    display: table; }
  .create aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: 100vh;
    border-right: 1px solid #EDEEEE;
    background-color: white; }
    .create aside:last-child {
      margin-right: 0; }
    .create aside h4 {
      color: #1b729f;
      padding: 1em;
      font-size: 2em;
      padding: .5em;
      text-align: center; }

/* ADD IMAGE TPL
---------- */
.text-center {
  padding-bottom: 215px;
  padding-top: 67px; }

.imageform {
  margin-left: 230px;
  margin-right: 230px; }
  .imageform .rightside {
    overflow: hidden;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .imageform .rightside:last-child {
      margin-right: 0; }
  .imageform .canvas {
    overflow: hidden;
    width: 60%;
    margin: auto; }

/* INSTRUCTIONS TPL
---------- */
.I-page {
  margin-left: 260px;
  margin-top: 90px; }
