<div class="row allpix" id="all-pix">

  <ul class="small-block-grid-3">
    <li ng-repeat="i in imageList">

      <a href="#/" ng-click="store(i.image_url)" style:"position:relative;"><img id="chosen-image" ng-src="{{ i.image_url }}"><span>&times;</span></a>

    </li>
  </ul>

</div>

<div class="row singlepix" id="single-pix">

  <div class="create">

    <aside>
      <div class="aside-top">
        <h4>Accessories</h4>
        <hr />
      </div>


   <div class="aside-bottom">
     <ul>
       <li class="row" ng-repeat="a in accessoryList">

        <div style="position:relative;display: inline-block;"><img ng-src="{{a.accessory_url}}" ng-click="addToCanvasSmall(a.accessory_url)" style="width:50px;height:50px;"><span style="position:absolute; color:#1A323D; left:0; top: -10px; font-size: 0.75em;">Small</span><span class = "flip" style="position:absolute; color:#1A323D; left:0; top: 25px; font-size: 0.75em;cursor:pointer;" ng-click="addToCanvasFlippedSmall(a.accessory_url)">Flip</span></div>

        <div style="position:relative;display: inline-block;"><img ng-src="{{a.accessory_url}}" ng-click="addToCanvasMedium(a.accessory_url)" style="width:50px;height:50px;"><span style="position:absolute; color:#1A323D; left:0; top: -10px; font-size: 0.75em;">Medium</span><span class = "flip" style="position:absolute; color:#1A323D; left:0; top: 25px; font-size: 0.75em;cursor:pointer;" ng-click="addToCanvasFlippedMedium(a.accessory_url)">Flip</span></div>

        <div style="position:relative;display: inline-block;"><img ng-src="{{a.accessory_url}}" ng-click="addToCanvasLarge(a.accessory_url)" style="width:50px;height:50px;"><span style="position:absolute; color:#1A323D; left:0; top: -10px; font-size: 0.75em;">Large</span><span class = "flip" style="position:absolute; color:#1A323D; left:0; top: 25px; font-size: 0.75em;cursor:pointer;" ng-click="addToCanvasFlippedLarge(a.accessory_url)">Flip</span></div>

      </li>
     </ul>

     <button ng-click="restoreImageCanvas()">Reset Toon</button>
   </div>
 </aside>


    <div class="rightside">
      <div class="canvas">
        <canvas width='400' height='500'></canvas>
      </div>
      <p>Add some words:</p>
      <form class="addtext-form" ng-click="addText(imageList.text)">
        <input type="text" ng-model="imageList.text">
        <button>Add Text</button>
      </form>
      <button ng-click="download()">Download Image</button>

    </div>

  </div>

</div>

<div class = "row comic-strip-create" id = "comic-strip-create">

</div>
